<?xml version="1.0"?>
<!--
/**
 * PAYONE Magento 2 Connector is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PAYONE Magento 2 Connector is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PAYONE Magento 2 Connector. If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP version 5
 *
 * @category  Payone
 * @package   Payone_Magento2_Plugin
 * @author    FATCHIP GmbH <support@fatchip.de>
 * @copyright 2003 - 2016 Payone GmbH
 * @license   <http://www.gnu.org/licenses/> GNU Lesser General Public License
 * @link      http://www.payone.de
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payone_cash_on_delivery translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\CashOnDelivery</model>
                <order_status>pending</order_status>
                <title>PAYONE - Cash on Delivery</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_cash_on_delivery>
            <payone_creditcard>
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Creditcard</model>
                <order_status>pending</order_status>
                <title>PAYONE - Creditcard</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_creditcard>
            <payone_debit>
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Debit</model>
                <order_status>pending</order_status>
                <title>PAYONE - Debit</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_debit>
            <payone_paypal>
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Paypal</model>
                <order_status>pending</order_status>
                <title>PAYONE - PayPal</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_paypal>
            <payone_advance_payment translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\AdvancePayment</model>
                <order_status>pending</order_status>
                <title>PAYONE - Advance Payment</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_advance_payment>
            <payone_invoice translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Invoice</model>
                <order_status>pending</order_status>
                <title>PAYONE - Invoice</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_invoice>
            <payone_obt_sofortueberweisung translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\SofortUeberweisung</model>
                <order_status>pending</order_status>
                <title>PAYONE - SOFORT Überweisung</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_sofortueberweisung>
            <payone_obt_giropay translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\Giropay</model>
                <order_status>pending</order_status>
                <title>PAYONE - giropay</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_giropay>
            <payone_obt_eps translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\Eps</model>
                <order_status>pending</order_status>
                <title>PAYONE - eps - Online-Ueberweisung</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_eps>
            <payone_obt_postfinance_efinance translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\PostFinanceEFinance</model>
                <order_status>pending</order_status>
                <title>PAYONE - PostFinance E-Finance</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_postfinance_efinance>
            <payone_obt_postfinance_card translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\PostFinanceCard</model>
                <order_status>pending</order_status>
                <title>PAYONE - PostFinance Card</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_postfinance_card>
            <payone_obt_ideal translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\Ideal</model>
                <order_status>pending</order_status>
                <title>PAYONE - iDeal</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_ideal>
            <payone_obt_przelewy translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\OnlineBankTransfer\Przelewy</model>
                <order_status>pending</order_status>
                <title>PAYONE - Przelewy24</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_obt_przelewy>
            <payone_barzahlen>
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Barzahlen</model>
                <order_status>pending</order_status>
                <title>PAYONE - Barzahlen</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_barzahlen>
            <payone_paydirekt>
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Paydirekt</model>
                <order_status>pending</order_status>
                <title>PAYONE - Paydirekt</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_paydirekt>
            <payone_billsafe translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Billsafe</model>
                <order_status>pending</order_status>
                <title>PAYONE - BillSAFE</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_billsafe>
            <payone_klarna translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Klarna</model>
                <order_status>pending</order_status>
                <title>PAYONE - Klarna Invoice</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_klarna>
            <payone_safe_invoice translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\SafeInvoice</model>
                <order_status>pending</order_status>
                <title>PAYONE - Safe Invoice</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_safe_invoice>
            <payone_payolution_invoice translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Payolution\Invoice</model>
                <order_status>pending</order_status>
                <title>PAYONE - Paysafe Pay Later™ Invoice</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_payolution_invoice>
            <payone_payolution_debit translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Payolution\Debit</model>
                <order_status>pending</order_status>
                <title>PAYONE - Paysafe Pay Later™ Debit</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_payolution_debit>
            <payone_payolution_installment translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\Payolution\Installment</model>
                <order_status>pending</order_status>
                <title>PAYONE - Paysafe Pay Later™ Installment</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_payolution_installment>
            <payone_alipay translate="title" module="Payone_Core">
                <active>0</active>
                <payment_action>Authorization</payment_action>
                <model>Payone\Core\Model\Methods\AliPay</model>
                <order_status>pending</order_status>
                <title>PAYONE - AliPay</title>
                <allowspecific>0</allowspecific>
                <group>payone</group>
            </payone_alipay>
        </payment>
        <payone_general>
            <global>
                <request_type>preauthorization</request_type>
                <mid></mid>
                <portalid></portalid>
                <aid></aid>
                <key></key>
                <currency>base</currency>
                <transmit_ip>1</transmit_ip>
            </global>
            <invoicing>
                <transmit_enabled>1</transmit_enabled>
            </invoicing>
            <statusmapping>
                <payone_creditcard>{"_1343137391927_927":{"txaction":"appointed","state_status":"processing"}}</payone_creditcard>
                <payone_debit>{"_1338893616379_379":{"txaction":"appointed","state_status":"processing"}}</payone_debit>
                <payone_paypal>{"_1343137411652_652":{"txaction":"appointed","state_status":"processing"}}</payone_paypal>
                <payone_cash_on_delivery>{"_1338893625332_332":{"txaction":"appointed","state_status":"processing"}}</payone_cash_on_delivery>
                <payone_invoice>{"_1338893611948_948":{"txaction":"appointed","state_status":"processing"}}</payone_invoice>
                <payone_advance_payment>{"_1338893618715_715":{"txaction":"appointed","state_status":"pending"},"_1458214328719_719":{"txaction":"paid","state_status":"processing"}}</payone_advance_payment>
                <payone_obt_sofortueberweisung>{"_1343137411652_152":{"txaction":"appointed","state_status":"processing"}}</payone_obt_sofortueberweisung>
                <payone_obt_giropay>{"_1343137411652_252":{"txaction":"appointed","state_status":"processing"}}</payone_obt_giropay>
                <payone_obt_eps>{"_1343137411652_352":{"txaction":"appointed","state_status":"processing"}}</payone_obt_eps>
                <payone_obt_postfinance_efinance>{"_1343137411652_452":{"txaction":"appointed","state_status":"processing"}}</payone_obt_postfinance_efinance>
                <payone_obt_postfinance_card>{"_1343137411652_552":{"txaction":"appointed","state_status":"processing"}}</payone_obt_postfinance_card>
                <payone_obt_ideal>{"_1343137411652_752":{"txaction":"appointed","state_status":"processing"}}</payone_obt_ideal>
                <payone_obt_przelewy>{"_1343137411652_852":{"txaction":"appointed","state_status":"processing"}}</payone_obt_przelewy>
                <payone_barzahlen>{"_payone_status_mapping6":{"txaction":"appointed","state_status":"processing"}}</payone_barzahlen>
                <payone_paydirekt>{"_1343118466182_183":{"txaction":"appointed","state_status":"processing"}}</payone_paydirekt>
                <payone_billsafe>{"_payone_status_mapping4":{"txaction":"appointed","state_status":"processing"}}</payone_billsafe>
                <payone_klarna>{"_payone_status_mapping2":{"txaction":"appointed","state_status":"processing"}}</payone_klarna>
                <payone_safe_invoice>{"_payone_status_invoice":{"txaction":"appointed","state_status":"processing"}}</payone_safe_invoice>
                <payone_payolution_invoice>{"_payone_status_mapping7":{"txaction":"appointed","state_status":"processing"}}</payone_payolution_invoice>
                <payone_payolution_debit>{"_payone_status_mapping8":{"txaction":"appointed","state_status":"processing"}}</payone_payolution_debit>
                <payone_payolution_installment>{"_payone_status_mapping9":{"txaction":"appointed","state_status":"processing"}}</payone_payolution_installment>
                <payone_alipay>{"_payone_status_alipay":{"txaction":"appointed","state_status":"processing"}}</payone_alipay>
            </statusmapping>
            <creditcard>
                <cc_template>{"Number_type":"tel","Number_count":"30","Number_max":"16","Number_iframe":"standard","Number_style":"standard","CVC_type":"tel","CVC_count":"30","CVC_max":"4","CVC_iframe":"standard","CVC_style":"standard","Month_type":"select","Month_count":"3","Month_max":"2","Month_iframe":"custom","Month_width":"120px","Month_height":"20px","Month_style":"standard","Year_type":"select","Year_count":"5","Year_max":"4","Year_iframe":"custom","Year_width":"120px","Year_height":"20px","Year_style":"standard","Standard_input":"width:223px;height:30px;padding: 0 9px;font-size:14px;font-family:'Helvetica Neue',Verdana,Arial,sans-serif;","Standard_selection":"width:100px;","Iframe_width":"365px","Iframe_height":"30px","Errors_active":"false","Errors_lang":"de"}</cc_template>
            </creditcard>
            <emails>
                <send_invoice_email>0</send_invoice_email>
            </emails>
        </payone_general>
        <payone_protect>
            <personstatus>
                <mapping></mapping>
            </personstatus>
            <address_check>
                <enabled>0</enabled>
                <mode>live</mode>
                <check_billing>NO</check_billing>
                <check_shipping>NO</check_shipping>
                <check_billing_for_virtual_order>0</check_billing_for_virtual_order>
                <confirm_address_correction>0</confirm_address_correction>
                <message_response_invalid></message_response_invalid>
                <handle_response_error>continue_checkout</handle_response_error>
                <stop_checkout_message></stop_checkout_message>
                <min_order_total></min_order_total>
                <max_order_total></max_order_total>
                <result_lifetime></result_lifetime>
            </address_check>
            <creditrating>
                <enabled>0</enabled>
                <mode>live</mode>
                <integration_event>before_payment</integration_event>
                <enabled_for_payment_methods></enabled_for_payment_methods>
                <payment_hint_enabled>0</payment_hint_enabled>
                <payment_hint_text></payment_hint_text>
                <agreement_enabled>0</agreement_enabled>
                <agreement_message></agreement_message>
                <type>IH</type>
                <addresscheck>NO</addresscheck>
                <allow_payment_methods_yellow></allow_payment_methods_yellow>
                <allow_payment_methods_red></allow_payment_methods_red>
                <sample_mode_enabled>0</sample_mode_enabled>
                <sample_mode_frequency></sample_mode_frequency>
                <handle_response_error>continue_checkout</handle_response_error>
                <stop_checkout_message></stop_checkout_message>
                <insufficient_score_message></insufficient_score_message>
                <min_order_total></min_order_total>
                <max_order_total></max_order_total>
                <result_lifetime></result_lifetime>
            </creditrating>
        </payone_protect>
        <payone_payment>
            <payone_cash_on_delivery>
                <use_global>1</use_global>
            </payone_cash_on_delivery>
            <payone_creditcard>
                <use_global>1</use_global>
                <check_cvc>always</check_cvc>
                <min_validity_period>35</min_validity_period>
                <save_data_enabled>0</save_data_enabled>
            </payone_creditcard>
            <payone_debit>
                <use_global>1</use_global>
                <request_bic>0</request_bic>
                <sepa_country>DE</sepa_country>
            </payone_debit>
            <payone_paypal>
                <use_global>1</use_global>
                <bill_as_del_address>1</bill_as_del_address>
                <express_active>0</express_active>
            </payone_paypal>
            <payone_advance_payment>
                <use_global>1</use_global>
            </payone_advance_payment>
            <payone_invoice>
                <use_global>1</use_global>
            </payone_invoice>
            <payone_obt_sofortueberweisung>
                <use_global>1</use_global>
                <show_iban>1</show_iban>
            </payone_obt_sofortueberweisung>
            <payone_obt_giropay>
                <use_global>1</use_global>
            </payone_obt_giropay>
            <payone_obt_eps>
                <use_global>1</use_global>
            </payone_obt_eps>
            <payone_obt_postfinance_efinance>
                <use_global>1</use_global>
            </payone_obt_postfinance_efinance>
            <payone_obt_postfinance_card>
                <use_global>1</use_global>
            </payone_obt_postfinance_card>
            <payone_obt_ideal>
                <use_global>1</use_global>
            </payone_obt_ideal>
            <payone_obt_przelewy>
                <use_global>1</use_global>
            </payone_obt_przelewy>
            <payone_barzahlen>
                <use_global>1</use_global>
            </payone_barzahlen>
            <payone_paydirekt>
                <use_global>1</use_global>
            </payone_paydirekt>
            <payone_billsafe>
                <use_global>1</use_global>
            </payone_billsafe>
            <payone_klarna>
                <use_global>1</use_global>
            </payone_klarna>
            <payone_safe_invoice>
                <use_global>1</use_global>
                <disable_after_refusal>0</disable_after_refusal>
            </payone_safe_invoice>
            <payone_payolution_invoice>
                <use_global>1</use_global>
            </payone_payolution_invoice>
            <payone_payolution_debit>
                <use_global>1</use_global>
            </payone_payolution_debit>
            <payone_payolution_installment>
                <use_global>1</use_global>
            </payone_payolution_installment>
            <payone_alipay>
                <use_global>1</use_global>
            </payone_alipay>
        </payone_payment>
        <payone_misc>
            <processing>
                <valid_ips><![CDATA[185.60.20.*]]></valid_ips>
                <proxy_mode>0</proxy_mode>
            </processing>
            <costs>
                <sku>delivery</sku>
            </costs>
            <voucher>
                <sku>voucher</sku>
            </voucher>
            <discount>
                <sku>discount</sku>
            </discount>
            <email_error>
                <template>payone_misc_email_error_template</template>
            </email_error>
            <email_avs>
                <template>payone_misc_email_avs_template</template>
            </email_avs>
        </payone_misc>
    </default>
</config>
