<?xml version="1.0"?>
<!--
/**
 * PAYONE Magento 2 Connector is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PAYONE Magento 2 Connector is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PAYONE Magento 2 Connector. If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP version 5
 *
 * @category  Payone
 * @package   Payone_Magento2_Plugin
 * @author    FATCHIP GmbH <support@fatchip.de>
 * @copyright 2003 - 2016 Payone GmbH
 * @license   <http://www.gnu.org/licenses/> GNU Lesser General Public License
 * @link      http://www.payone.de
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Payone\Core\Api\AddresscheckInterface" type="Payone\Core\Service\V1\Addresscheck" />
    <preference for="Payone\Core\Api\Data\AddresscheckResponseInterface" type="Payone\Core\Service\V1\Data\AddresscheckResponse" />
    <preference for="Payone\Core\Api\InstallmentPlanInterface" type="Payone\Core\Service\V1\InstallmentPlan" />
    <preference for="Payone\Core\Api\Data\InstallmentPlanResponseInterface" type="Payone\Core\Service\V1\Data\InstallmentPlanResponse" />
    <preference for="Payone\Core\Api\EditAddressInterface" type="Payone\Core\Service\V1\EditAddress" />
    <preference for="Payone\Core\Api\Data\EditAddressInterface" type="Payone\Core\Service\V1\Data\EditAddressResponse" />
    <virtualType name="Payone\Core\Model\ResourceModel\ApiLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">payone_protocol_api</argument>
            <argument name="resourceModel" xsi:type="string">Payone\Core\Model\ResourceModel\ApiLog</argument>
        </arguments>
    </virtualType>
    <virtualType name="Payone\Core\Model\ResourceModel\TransactionStatus\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">payone_protocol_transactionstatus</argument>
            <argument name="resourceModel" xsi:type="string">Payone\Core\Model\ResourceModel\TransactionStatus</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="payone_protocol_api_grid_data_source" xsi:type="string">Payone\Core\Model\ResourceModel\ApiLog\Grid\Collection</item>
                <item name="payone_protocol_transactionstatus_grid_data_source" xsi:type="string">Payone\Core\Model\ResourceModel\TransactionStatus\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="payone_txid" xsi:type="string">sales_order.payone_txid</item>
                <item name="payone_refnr" xsi:type="string">sales_order.payone_refnr</item>
                <item name="payone_transaction_status" xsi:type="string">sales_order.payone_transaction_status</item>
                <item name="payone_authmode" xsi:type="string">sales_order.payone_authmode</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="Payone_Core_Plugin_MethodList" type="Payone\Core\Model\Plugins\MethodList" sortOrder="1" />
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin name="Payone_Core_Plugin_ShippingAddressManagement" type="Payone\Core\Model\Plugins\ShippingAddressManagement" sortOrder="1" />
    </type>
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin name="Payone_Core_Plugin_BillingAddressManagement" type="Payone\Core\Model\Plugins\BillingAddressManagement" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="Payone_Core_Plugin_PaymentInformationManagement" type="Payone\Core\Model\Plugins\PaymentInformationManagement" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="Payone_Core_Plugin_GuestPaymentInformationManagement" type="Payone\Core\Model\Plugins\GuestPaymentInformationManagement" sortOrder="1" />
    </type>
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="Payone_Core_plugin_CreditmemoService" type="Payone\Core\Model\Plugins\CreditmemoService" sortOrder="1" />
    </type>
</config>
