<?xml version="1.0"?>
<!--
/**
 * PAYONE Magento 2 Connector is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PAYONE Magento 2 Connector is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PAYONE Magento 2 Connector. If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP version 5
 *
 * @category  Payone
 * @package   Payone_Magento2_Plugin
 * @author    FATCHIP GmbH <support@fatchip.de>
 * @copyright 2003 - 2016 Payone GmbH
 * @license   <http://www.gnu.org/licenses/> GNU Lesser General Public License
 * @link      http://www.payone.de
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
        <add id="Payone_Core::payone" title="Payone" module="Payone_Core" sortOrder="79" resource="Payone_Core::payone"/>
        <add id="Payone_Core::payone_orders" title="Orders" module="Payone_Core" sortOrder="10" parent="Payone_Core::payone" action="payone/orders" resource="Payone_Core::payone_orders"/>
        <add id="Payone_Core::payone_configuration" title="Configuration" module="Payone_Core" sortOrder="20" parent="Payone_Core::payone" resource="Payone_Core::payone_configuration"/>
        <add id="Payone_Core::payone_configuration_general" title="General" module="Payone_Core" sortOrder="10" parent="Payone_Core::payone_configuration" action="adminhtml/system_config/edit/section/payone_general" resource="Payone_Core::payone_configuration_general"/>
        <add id="Payone_Core::payone_configuration_payment" title="Payment" module="Payone_Core" sortOrder="20" parent="Payone_Core::payone_configuration" action="adminhtml/system_config/edit/section/payone_payment" resource="Payone_Core::payone_configuration_payment"/>
        <add id="Payone_Core::payone_configuration_protect" title="Protect" module="Payone_Core" sortOrder="30" parent="Payone_Core::payone_configuration" action="adminhtml/system_config/edit/section/payone_protect" resource="Payone_Core::payone_configuration_protect"/>
        <add id="Payone_Core::payone_configuration_misc" title="Misc" module="Payone_Core" sortOrder="40" parent="Payone_Core::payone_configuration" action="adminhtml/system_config/edit/section/payone_misc" resource="Payone_Core::payone_configuration_misc"/>
        <add id="Payone_Core::payone_configuration_export" title="Export Configuration" module="Payone_Core" sortOrder="40" parent="Payone_Core::payone_configuration" action="payone/config_export" resource="Payone_Core::payone_configuration_export"/>
        <add id="Payone_Core::payone_protocol" title="Logs" module="Payone_Core" sortOrder="30" parent="Payone_Core::payone" resource="Payone_Core::payone_protocol"/>
        <add id="Payone_Core::payone_protocol_api" title="Api" module="Payone_Core" sortOrder="10" parent="Payone_Core::payone_protocol" action="payone/protocol_api" resource="Payone_Core::payone_protocol_api"/>
        <add id="Payone_Core::payone_protocol_transactionstatus" title="Transactionstatus" module="Payone_Core" sortOrder="20" parent="Payone_Core::payone_protocol" action="payone/protocol_transactionstatus" resource="Payone_Core::payone_protocol_transactionstatus"/>
    </menu>
</config>
