<?xml version="1.0"?>
<!--
/**
 * PAYONE Magento 2 Connector is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PAYONE Magento 2 Connector is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PAYONE Magento 2 Connector. If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP version 5
 *
 * @category  Payone
 * @package   Payone_Magento2_Plugin
 * @author    FATCHIP GmbH <support@fatchip.de>
 * @copyright 2003 - 2016 Payone GmbH
 * @license   <http://www.gnu.org/licenses/> GNU Lesser General Public License
 * @link      http://www.payone.de
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="payone" translate="label" sortOrder="1111111">
            <label>Payone</label>
        </tab>
        <section id="payone_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>payone</tab>
            <resource>Payone_Core::payone_configuration_general</resource>
            <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Global</label>
                <field id="mid" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant-ID</label>
                </field>
                <field id="portalid" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Portal-ID</label>
                </field>
                <field id="aid" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub-Account-ID</label>
                </field>
                <field id="key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Security Key</label>
                </field>
                <field id="ref_prefix" translate="label,comment,tooltip" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Referencenumber prefix</label>
                    <comment>optional</comment>
                    <tooltip>A unique referencenumber has to be transferred to PAYONE with every request. This is a consecutive number, normally starting at 1. When operating multiple shops ( e.g. live- and test-shop ) with the same PAYONE account-data there will be problems when the current referencenumber was already used. This can be avoided by using different prefixes on different shops.</tooltip>
                </field>
                <field id="allowspecific" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="allowspecific">1</field>
                    </depends>
                </field>
                <field id="request_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorize-method</label>
                    <source_model>Payone\Core\Model\Source\RequestType</source_model>
                </field>
                <field id="transmit_ip" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transmit IP address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="invoicing" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send invoicing information</label>
                <field id="transmit_enabled" translate="label,comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transmit invoice information</label>
                    <comment>Please note that you can use these options only, if you subscribe to the invoicing module of PAYONE.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="invoice_appendix" translate="label,comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dynamic invoice message</label>
                    <comment>Maximum 255 digits. Placeholders: {{order_increment_id}}, {{customer_id}}</comment>
                </field>  
                <field id="invoice_appendix_refund" translate="label,comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dynamic refund message</label>
                    <comment>Maximum 255 digits. Placeholders: {{order_increment_id}}, {{order_id}}, {{customer_id}}</comment>
                </field>  
            </group>
            <group id="statusmapping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Status Mapping</label>
                <field id="payone_creditcard" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Creditcard</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_debit" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debit Payment</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_paypal" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_cash_on_delivery" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cash on Delivery</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_advance_payment" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advance Payment</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_invoice" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_sofortueberweisung" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SOFORT Überweisung</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_giropay" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>giropay</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_eps" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>eps - Online-Ueberweisung</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_postfinance_efinance" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PostFinance E-Finance</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_postfinance_card" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PostFinance Card</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_ideal" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>iDeal</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_obt_przelewy" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Przelewy24</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_barzahlen" translate="label" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Barzahlen</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_paydirekt" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paydirekt</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_billsafe" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BillSAFE</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="payone_klarna" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Klarna Invoice</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="creditcard" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Creditcard</label>
                <field id="cc_template" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Input-configuration</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\CreditcardTemplate</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
        <section id="payone_payment" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment</label>
            <tab>payone</tab>
            <resource>Payone_Core::payone_configuration_payment</resource>
            <include path="Payone_Core::system/payone_creditcard.xml"/>
            <include path="Payone_Core::system/payone_debit.xml"/>
            <include path="Payone_Core::system/payone_paypal.xml"/>
            <include path="Payone_Core::system/payone_cash_on_delivery.xml"/>
            <include path="Payone_Core::system/payone_advance_payment.xml"/>
            <include path="Payone_Core::system/payone_invoice.xml"/>
            <include path="Payone_Core::system/payone_obt_sofortueberweisung.xml"/>
            <include path="Payone_Core::system/payone_obt_giropay.xml"/>
            <include path="Payone_Core::system/payone_obt_eps.xml"/>
            <include path="Payone_Core::system/payone_obt_postfinance_efinance.xml"/>
            <include path="Payone_Core::system/payone_obt_postfinance_card.xml"/>
            <include path="Payone_Core::system/payone_obt_ideal.xml"/>
            <include path="Payone_Core::system/payone_obt_przelewy.xml"/>
            <include path="Payone_Core::system/payone_barzahlen.xml"/>
            <include path="Payone_Core::system/payone_paydirekt.xml"/>
            <include path="Payone_Core::system/payone_billsafe.xml"/>
            <include path="Payone_Core::system/payone_klarna.xml"/>
        </section>
        <section id="payone_protect" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PROTECT</label>
            <tab>payone</tab>
            <resource>Payone_Core::payone_configuration_protect</resource>
            <group id="address_check" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address checking</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Payone\Core\Model\Source\Mode</source_model>
                </field>
                <field id="check_billing" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Check Billing Address</label>
                    <source_model>Payone\Core\Model\Source\AddressCheckType</source_model>
                </field>
                <field id="check_shipping" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Check Shipping Address</label>
                    <source_model>Payone\Core\Model\Source\AddressCheckType</source_model>
                </field>
                <field id="check_billing_for_virtual_order" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Check Billing Address for virtual orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="confirm_address_correction" translate="label,comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Confirm Address correction</label>
                    <comment>Consumer must confirm corrections to their address</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mapping_personstatus" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Personstatus Mapping</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\PersonStatusMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="message_response_invalid" translate="label,comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message to display for invalid data</label>
                    <comment>Placeholder: {{payone_customermessage}} (Message from Payone-Addresscheck</comment>
                </field>
                <field id="handle_response_error" translate="label,comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Response ERROR Handling</label>
                    <comment>Action in case Addresscheck responds with ERROR</comment>
                    <source_model>Payone\Core\Model\Source\HandleResponseError</source_model>
                </field>
                <field id="stop_checkout_message" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message for 'Stop-Checkout'</label>
                    <depends>
                        <field id="handle_response_error">stop_checkout</field>
                    </depends>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
                <field id="result_lifetime" translate="label,comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lifetime</label>
                    <comment>Result lifetime in days</comment>
                </field>
            </group>
            <group id="creditrating" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit rating</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Payone\Core\Model\Source\Mode</source_model>
                </field>
                <field id="integration_event" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Event</label>
                    <source_model>Payone\Core\Model\Source\CreditratingIntegrationEvent</source_model>
                </field>
                <field id="enabled_for_payment_methods" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled for Payment-Methods</label>
                    <depends>
                        <field id="integration_event">after_payment</field>
                    </depends>
                    <source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="payment_hint_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment hint enabled</label>
                    <depends>
                        <field id="integration_event">after_payment</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_hint_text" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment hint text</label>
                    <depends>
                        <field id="integration_event">after_payment</field>
                        <field id="payment_hint_enabled">1</field>
                    </depends>
                </field>
                <field id="agreement_enabled" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Agreement enabled</label>
                    <depends>
                        <field id="integration_event">after_payment</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="agreement_message" translate="label,comment" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Agreement message</label>
                    <depends>
                        <field id="integration_event">after_payment</field>
                        <field id="agreement_enabled">1</field>
                    </depends>
                </field>
                <field id="type" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Creditrating-Checktype</label>
                    <source_model>Payone\Core\Model\Source\CreditratingCheckType</source_model>
                </field>
                <field id="addresscheck" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Combine credit rating with address check</label>
                    <comment>This will always be 'Boniversum Person' when Creditrating-Checktype is 'Boniversum VERITA Score'</comment>
                    <source_model>Payone\Core\Model\Source\AddressCheckType</source_model>
                </field>
                <field id="unknown_value" translate="label" type="select" sortOrder="97" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default value for unknown scores</label>
                    <comment>This only affects check results when Creditrating-Checktype is 'Boniversum VERITA Score'</comment>
                    <source_model>Payone\Core\Model\Source\CreditScore</source_model>
                </field>
                <field id="allow_payment_methods_yellow" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Payment-Methods for Result "YELLOW"</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="allow_payment_methods_red" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Payment-Methods for Result "RED"</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="sample_mode_enabled" translate="label,comment" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sample Mode Enabled</label>
                    <comment>Activate to perform Creditrating check every n-th order</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sample_mode_frequency" translate="label,comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sample Mode Frequency</label>
					<comment>Perform creditrating for 1 out of n orders.</comment>
                    <depends>
                        <field id="sample_mode_enabled">1</field>
                    </depends>
                </field>
                <field id="handle_response_error" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Response ERROR Handling</label>
                    <comment>Action in case Creditrating check responds with ERROR</comment>
                    <source_model>Payone\Core\Model\Source\HandleResponseError</source_model>
                </field>
                <field id="stop_checkout_message" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message for 'Stop-Checkout'</label>
                    <depends>
                        <field id="handle_response_error">stop_checkout</field>
                    </depends>
                </field>
                <field id="insufficient_score_message" translate="label" type="text" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Insufficient score error message</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
                <field id="result_lifetime" translate="label,comment" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lifetime</label>
                    <comment>Result lifetime in days</comment>
                </field>
            </group>
        </section>
        <section id="payone_misc" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Miscellaneous</label>
            <tab>payone</tab>
            <resource>Payone_Core::payone_configuration_misc</resource>
            <group id="processing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transaction-Status Processing</label>
                <field id="valid_ips" translate="label,comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Valid PAYONE IPs</label>
                    <comment>Enter valid PAYONE IPs (Format xxx.xxx.xxx.xxx). As a Wildcard You can use * </comment>
                </field>
            </group>
            <group id="forwarding" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transaction-Status Forwarding</label>
                <field id="config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Forwarding</label>
                    <frontend_model>Payone\Core\Block\Adminhtml\Config\Form\Field\StatusForwarding</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
           </group>
            <group id="discount" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoicing Data - Discount</label>
                <field id="sku" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU</label>
                </field>
            </group>
            <group id="costs" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoicing Data - Shipping Costs</label>
                <field id="sku" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU</label>
                </field>
            </group>
            <group id="voucher" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoicing Data - Voucher</label>
                <field id="sku" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SKU</label>
                </field>
            </group>
        </section>
    </system>
</config>
